body {
    background-color: lightgrey;
}
img {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
p, h2 {
    text-transform: uppercase;
}
.header {
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px;
    margin: 0 auto;
    padding: 5px;
    min-width: 900px, 100%;
}
.header__content {
    display: flex;
    align-items: center;
}
.pokeball {
    height: 40px;
}
.pokedex {
    font-size: 17px;
}
.main {
    margin-top: 0;
    margin-left: 20px;
    margin: 0 auto;
    background-color: rgb(190, 188, 188);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 910px, 100%;
}
.name {
    background-color: rgba(255, 255, 255, 0.815);
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    min-width: 230px, 100%;
}
.fire {
    height: 50px;
    text-align: center;
}
.pokemon {
    padding: 20px 0px 0px 80px ;
}
.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    min-width: 250px, 100%;
}
.info--left, 
.info--right {
    text-align: center;
}
.footer__interior {
    display: flex;
    background-color: rgba(255, 255, 255, 0.815);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    min-width: 870px, 100%;
    justify-content: space-around;
    padding: 20px;
}
.inferior--image {
    height: 50px;
    text-align: center;
}
.footer__image {
    background-color: rgb(190, 188, 188);
    border-radius: 10px;
    padding: 2px;
}
.footer__image:hover {
    background-color: grey;
    transition: .4s;
}
@media (max-width: 480px) { 
    .header {
        text-align: center;
    }
}